body{
    background-color: rgb(60, 64, 67);
}

.navbar{
    background-color: rgb(172, 0, 0);
    
}

.header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

h1{
    margin-bottom: 70px;
    font-size: 45px;
    letter-spacing: 2px;
}

